/* @media screen and (max-width: 1200px) and (min-width: 769px) {
 
  .main-container{
    width: 100%;
    margin: 0px auto;
    border-radius: 0px;
    padding: 5px;
  }
  .my-content {
    width: 80%;
    padding: 100px 60px 100px 20px;
}

  .sidebar-section {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .foto {
    border-top-left-radius: 0px;
  }
} */

@media screen and (max-width: 768px) and (min-width: 426px) {
 
  .main-container {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  .my-social-networks {
    position: relative;
    top: 30px;
    font-size: 70px;
  }

  .my-content {
    width: 80%;
    padding: 100px 10px 100px 10px;
}

  .sidebar-section {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .foto {
    width: 100%;
    border-top-left-radius: 0px;
    border: none;
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  
  .main-container {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    padding: 5px;
  }

  .my-social-networks {
    position: relative;
    top: 30px;
    font-size: 70px;
  }
  .my-content {
    width: 80%;
    padding: 100px 10px 100px 10px;
}

  .sidebar-section {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .foto {
    border-top-left-radius: 0px;
    border: none;
    width: 100%;
  }
}
